/* :root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 1.9;
  background-color: #fff;
}

/* main{
    background-image: url(/assets/images/background-logo.png);
    background-position: center;
    background-repeat: no-repeat;
} */

.bg_logo {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -10;
}


/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 10rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover{
    color: #4E79A3;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #4E79A3;
}

.banner {
    width: 100%;
    height: 42vh;
    background-image: url(assets/images/banner-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    width: 60%;
    margin: 70px auto;
}

.section_about, .section_service, .section_health, .more {
    display: flex;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
}

.service, .health, .dedication {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
}

.about_h3 {
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: 500;
}

.about_text {
    font-size: 1.8rem;
    padding-right: 5rem;
}

.service, .dedication {
    padding-left: 5rem;
}

.health {
    padding-right: 5rem;
}

.service_h3, .health_h3, .dedication_h3, .more_h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 20px 0;
}

.service_text, .health_text, .dedication_text, .more_text  {
    font-size: 1.8rem;
    padding-right: 0rem;
}

.more {
    text-align: center;
}


.about_btn{
    width: 30%;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    border: none;
    background-color: #91BEE5;
}

@media screen and (max-width: 480px) {
    .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 1rem;
}
  .nav__logo {
    height: 7rem;
    transition: all 0.3s;
  }
  .nav__links {
    display: none;
  }
}
