/* :root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 1.9;
  background-color: #fff;
}

/* main{
    background-image: url(/assets/images/background-logo.png);
    background-position: center;
    background-repeat: no-repeat;
} */

.bg_logo {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -10;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 10rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #4e79a3;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #4e79a3;
}

.banner {
  width: 100%;
  height: 42vh;
  background-image: url("/assets/images/banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  width: 60%;
  margin: 70px auto;
  transition: transform 1s, opacity 1s;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section_about,
.section_service,
.section_health,
.more {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
}

.service,
.health,
.dedication {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
}

.about_h3 {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 500;
}

.about_text {
  font-size: 1.8rem;
  padding-right: 5rem;
}

.service,
.dedication {
  padding-left: 5rem;
}

.health {
  padding-right: 5rem;
}

.service_h3,
.health_h3,
.dedication_h3,
.more_h3,
.welcome_h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 20px 0;
}

.service_text,
.health_text,
.dedication_text,
.more_text,
.form_text {
  font-size: 1.8rem;
  padding-right: 0rem;
}

.more {
  text-align: center;
}

.about_btn {
  width: 30%;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  border: none;
  background-color: #91bee5;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: #4e79a3;
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.contact_section {
  margin: 20px auto; 
}

.section_form {
  padding: 3rem 3rem;
  background-color: #91bee573;
}

.form_info {
  text-align: center;
}

.form_h2 {
  font-size: 2.5rem;
  font-weight: bolder;
}

form {
  width: 80%;
  margin: 30px auto;
}

form div {
  margin: 20px auto;
}

form label {
  font-size: 1.8rem;
  font-weight: 500;
}

form input, select {
  display: block;
  width: 70%;
  padding: 1rem;
  border: none;
}

form textarea {
  display: block;
  padding: 1rem;
  border: none;
  width: 70%;
}



form button {
  font-weight: lighter;
  font-size: 1.8rem;
  background-color: #91bee5;
  border: none;
  border-radius: 10px;
  width: 70%;
  margin: 10px auto;
  padding: 1rem;
}

footer {
  padding: 5rem 0rem;
  background: #91bee5;
}
.flex {
  width: 40%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex img {
  width: 50px;
}

.location,
.mobile,
.clock {
  display: flex;
  align-items: end;
}

.clock .info {
  margin-left: 10px;
}

.socials {
  width: 10%;
  margin-top: 20px;
}

.socials img {
  width: 25px;
}

@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 1rem;
  }
  .nav__logo {
    height: 7rem;
    transition: all 0.3s;
  }
  .nav__links {
    display: none;
  }
}
